<div class="card">
    <div class="card-header card-header-danger">
        <h3 class="card-title text-center">Socios</h3>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-md-6">

                        <p class="card-category">Lista de socicios</p>
                    </div>

                    <div class="col-md-6 text-right">
                        <button [routerLink]="['/aso/form']" mat-raised-button type="button" matTooltip="Nuevo socio" [matTooltipPosition]="'above'" class="btn btn-secondary btn-link  btn-just-icon ">
                                                <i class="fas fa-1x fa-plus-square"></i>
                                            </button>
                    </div>
                </div>

            </div>
            <div class="card-body table-responsive">
                <div class="mat-elevation-z8">
                    <table class="table table-hover" mat-table [dataSource]="socios">

                        <!-- Position Column -->
                        <ng-container matColumnDef="id">
                            <th class="text-warning" mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>

                        <!-- nombre Column -->
                        <ng-container matColumnDef="nombre_completo">
                            <th class="text-warning" mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
                        </ng-container>


                        <!-- Valoracion Column -->
                        <ng-container matColumnDef="opciones">
                            <th class="text-warning" mat-header-cell *matHeaderCellDef> Opciones </th>
                            <td mat-cell class="td-actions " *matCellDef="let element; let i=index">
                                <button mat-raised-button type="button" matTooltip="Eliminar" (click)="eliminarSocio(element.id,i)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">close</i>
                                </button>
                                <a mat-raised-button [routerLink]="['formedit/',element.id]" type="button" matTooltip="Actualizar datos" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a mat-raised-button type="button" (click)="verDetalleSocio(element.id)" data-toggle="modal" data-target="#detalleSocio" matTooltip="Ver detalle" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [length]="length" [pageSize]="pageSize" (page)="cambioPagina($event)" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Detalle-->
<div class="modal fade" id="detalleSocio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" *ngIf="selected_tour">
            <div class="animated fadeIn modal-body ">
                <ng-container *ngIf="selected_tour">

                </ng-container>
                <div class="row text-right">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>