<div *ngIf="!cargando" class="card">
    <i (click)="volver()" class="fas fa-arrow-alt-circle-left fa-2x"></i>
    <div class="card-body">
        <h4 class="text-center">DEPARTAMENTOS  DE {{pais_id}}</h4>
        <button class="btn btn-success" type="button" (click)="open()">Agregar departamento</button>
        <div class="table-responsive"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Departamento</th>
                    <th>Municipios</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let departamento of departamentos.data; let i=index;">
                    <td>{{departamento.codigo}} </td>
                    <td>{{departamento.departamento}}</td>
                    <td>
                        <i (click)="goMunicipios(departamento.id, departamento.departamento)" class="fas fa-list-ul"></i>
                    </td>
                    <td>
                        <i (click)="open(departamento.id)" class="fas fa-pencil-alt"></i>
                        <i (click)="deleteDepartamento(departamento.id, departamento.departamento)" class="fas fa-trash-alt" style="margin-left:20px"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-municipios *ngIf="mostrando_muni" [departamento_id]="departamento_id" [pais_id]="pais_id"
[departamento]="departamento" (retorno)="showDepartamentos()"></app-municipios>